<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Home.css"/>
    <title>ONLINE FLIGHT BOOKING</title>
</head>

<body>
    <header id="showcase">
        <h1>TIME TO TRAVEL</h1>
        <p>Ready for your next trip? Book with us now</p>
        <a href="/People/LogIn" class="button">Log in</a>
        <a href="/People/Create" class="button">Sign in</a>

    </header>

    @*<div class="bg-modal">
        <div class="modal-content">
            <img src="~/Images/signInPage.jpg" width="150" height="100"/>
        </div>
    </div>*@

</body>


</html>
