@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/LandingPage.css" />
    <title>ONLINE FLIGHT BOOKING</title>
</head>

<body>
    <header id="showcase">
        <h1>TIME TO TRAVEL</h1>
        <p>Ready for your next trip? Book with us now</p>
        <a href="/People/LogIn" class="button">Log in</a>
        <a href="/People/Create" class="button">Sign in</a>
    </header>
</body>
</html>
