.navbar-fixed{
    height:40px!important;
}

nav {
    font-family: font1 !important;
    max-height: 40px !important;
}

@font-face {
    font-family: font1;
    src: url(../fonts/Montserrat-SemiBold.otf);
}

ul {
    font-family: font2 !important;
}

@font-face {
    font-family: font2;
    src: url(../fonts/Montserrat-Thin.otf);
}

.container {
    width: 85% !important;
}

.slider {
    height:400px !important;
    margin-bottom:25px !important;
}

.slides{
    height:inherit !important;
}

.map {
    background-color: #090d4f !important;
    /*width:85% !important;*/
    width:100% !important;
}
#map {
    height: 400px;
    width: 80%;
    border: 20px solid #090d4f !important;
    margin: auto !important;
    /*border-color: #090d4f !important;*/
    opacity:0.8 !important;
}
