*{
    margin:0;
    padding:0;
}

body {
    /*space around the body*/
    margin: 0;
    font-family: homePageFont2;
    font-size: 25px;
    color: #000000;
    line-height: 1.6;
}

@font-face{
    font-family: homePageFont1;
    src:url(../fonts/Montserrat-ExtraBold.otf);
}

@font-face {
    font-family: homePageFont2;
    src: url(../fonts/Montserrat-Thin.otf);
}

#showcase{
    /*cover*/
    background-image:url('../Images/landingPage.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;

    /*text*/
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0 20px;
    text-align:center;
}

#showcase h1 {
    font-family: homePageFont1;
    color: #08046e;
    font-size: 50px;
}

#showcase p{
    font-size:20px;
    margin-bottom:20px;
    /*font-weight:bold;*/
}

#showcase .button {
    margin-top: 15px;
    width: 100px;
    font-size: 18px;
    text-decoration: none;
    color: antiquewhite;
    background-color: #08046e;
    padding: 10px 10px;
    transition: .10s ease;
    border-radius: 15px;
}

#showcase .button:hover {
    border: #08046e 1px solid;
    background-color:aliceblue;
    color: #08046e;
}
