body, html {
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../Images/search.jpg');
    background-attachment:fixed !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*----SEARCH----*/
    .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows:1fr 1fr 1fr;*/
    grid-gap: 3em;
    margin-top: 10px !important;
    padding: 40px;
}

.booking-form-box {
    /*max-width: 400px;*/
    max-height: 400px;
    border: 1px solid #ced4d4;
    /*margin:7% auto 7%;*/
    /*margin: 7% 5% 7%;*/
}

.form-control{
    font-size:12px!important;
    border-radius:0!important;
    color:#fff!important;
    background:transparent!important;
    box-shadow:none!important;
}

.booking-form {
    padding: 10px 30px 20px;
}

/*.booking-form label{
    margin-bottom:50px;
    margin-top:10px;
    font-size:15px;
    color:#fff;
}*/

.input-grp{
    width:100%;
    display:block;
}

.input-grp label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
}

.input-grp option {
    color: #333;
}

.input-grp .button {
    color:#fff;
    width:100%;
    padding:10px 0;
    margin-top:25px;
    font-size:12px;
    border:1px solid #ced4d4;
    background:transparent;
    border-radius:0;
    box-shadow:none;
}

.input-grp .button:hover {
    background-color: aliceblue;
    color: #08046e;
    transition:1s;
}


/*----RESULTS----*/

.booking-form-box-results {
    border: 1px solid #ced4d4;
    grid-column: 2/4;
    /*display:none;*/
}

.booking-form-results {
    padding: 0 25px 0;
}

.table th {
    text-align: center;
    border-bottom: 1px solid rgba(230, 238, 245, 0.54) !important;
}

.table td {
    text-align: center;
    border-bottom: 1px solid rgba(230, 238, 245, 0.54) !important;
}

.output-grp {
    padding: 10px 10px 10px;
    font-size: 15px;
    color: #fff;
}

.results {
    font-size: 12px;
    color: #fff;
    align-content: center;
}

[type="radio"]:not(:checked) + span:before, [type="radio"]:not(:checked) + span:after {
    border: 1px solid rgba(230, 238, 245, 0.54) !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: rgba(230, 238, 245, 0.9) !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    border: 1px solid rgba(230, 238, 245, 0.9) !important;
}

.book-button {
    color: #fff;
    width: 80%;
    padding: 10px 10px;
    /*margin: 25px 60px 25px 60px;*/
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 13px;
    border: 1px solid #ced4d4;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

.book-button:hover {
    background-color: aliceblue;
    color: #08046e;
    transition: 1s;
}

/*.bg-modal{
    display:none;
}*/


