nav {
    font-family: font1 !important;
    max-height: 40px !important;
}

.nav-wrapper {
    color: red !important;
}
@font-face {
    font-family: font1;
    src: url(../fonts/Montserrat-SemiBold.otf);
}

ul{
    font-family:font2 !important;
}
@font-face {
    font-family: font2;
    src: url(../fonts/Montserrat-Thin.otf);
}
.container {
    width:85% !important;
}


